.#{$sliderm-class} {
  position: relative;

  &__slider {
    overflow: hidden;
  }

  &__slides {
    display: flex;
    transition: all 0s linear 0s;
  }

  &__slide {
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }

  &--initialize {
    > div {
      opacity: 0;
    }
  }
}
