.#{$sliderm-class} {
  &__paginations {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  &__pagination {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border: 2px solid #aaa;
    cursor: pointer;

    @include border-radius(50%);

    &[data-active="true"] {
      border: 2px solid rgb(0 160 160);
    }
  }
}
